<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>감사합니다 페이지</title>
    <script src="/scripts/public.js" defer></script>
    <script src="/scripts/add.js" defer></script>
    <link rel="stylesheet" href="/css/bye.css">

</head>
<body>

<div class="container">
    <h1>감사합니다!</h1>
    <p>저희 부스를 이용해 주셔서 감사합니다!</p>

    <div class="button-container">
        <button class="button" id="re">게임 재시작하기</button>
    </div>
</div>

</body>
</html>