<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>송린중학교 1학년 13반 축제 부스</title>
    <script src="/scripts/add.js" defer></script>
    <link rel="stylesheet" href="/css/greeting.css">
    <script src="/scripts/greeting.js" defer></script>
    <script src="/scripts/public.js" defer></script>
    <link rel="stylesheet" href="/css/public.css">
</head>
<body>
<button class="settings-button" onclick="openPopup()">⚙️</button>
<div class="container">
    <h1>송린중학교 1학년 13반<br>공포의 방탈출에 오신 것을 환영합니다</h1>
    <button class="start-button">게임 시작하기</button>
</div>
</body>
</html>