<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제2 게임 - 송린중학교 1학년 13반 축제 부스</title>
    <script src="/scripts/add.js" defer></script>
    <link rel="stylesheet" href="/css/first_game.css">
    <script src="/scripts/second_game.js" defer></script>
    <script src="/scripts/public.js" defer></script>
    <link rel="stylesheet" href="/css/public.css">

</head>
<body>
<button class="settings-button" onclick="openPopup()">⚙️</button>
<div class="container">
    <h1>제2 게임</h1>
    <div class="timer">00:00</div>
    <div>
        <button class="button" id="re">게임 재시작하기</button>
        <button class="button" id="next">다음 단계</button>
    </div>
    <div class="button-container">
        <button class="button">게임 성공</button>
    </div>
</div>
</body>
</html>