<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 설정 - 송린중학교 1학년 13반 축제 부스</title>
    <script src="/scripts/add.js" defer></script>
    <link rel="stylesheet" href="/css/set_password.css">
    <script src="/scripts/setting_password.js" defer></script>
    <script src="/scripts/public.js" defer></script>
    <link rel="stylesheet" href="/css/public.css">

</head>
<body>
<button class="settings-button" onclick="openPopup()">⚙️</button>
<div class="container">
    <h1>비밀번호 설정</h1>
    <div>
        <button class="button">자동 설정하기</button>
        <button class="button">수동 설정하기</button>
    </div>
    <div class="button-container">
        <button class="button" id="re">게임 재시작하기</button>
        <button class="button">다음 단계</button>
    </div>
</div>
</body>
</html>