<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공포 테마 비밀번호 맞추기</title>
    <script src="/scripts/add.js" defer></script>
    <link rel="stylesheet" href="/css/solve_password.css">
    <script src="/scripts/public.js" defer></script>
    <link rel="stylesheet" href="/css/public.css">
    <script src="/scripts/solve_password.js" defer ></script>

</head>
<body>

<!-- Settings button in the bottom left -->
<button class="settings-button" onclick="openPopup()">⚙️</button>

<div class="container">
    <h1>비밀번호 맞추기</h1>
    <div class="lock-icon">🔒</div>
    <div class="input-container">
        <!-- 4-digit password input -->
        <input maxlength="1" class="keke">
        <input maxlength="1" class="keke">
        <input maxlength="1" class="keke">
        <input maxlength="1" class="keke">
    </div>

    <div class="button-container">
        <button class="button">입력 완료</button>
        <button class="button" id="re">게임 재시작하기</button>
        <button class="button">다음 단계</button>
    </div>
</div>

</body>
</html>